<div th:fragment="bar-under-navigation-shop">
	
<!-- Bar-under-navigation-shop -->	
<div class="container-fluid bg-dark mb-3">
  <div class="container">
    <div class="row d-flex justify-content-around py-2">
  	  <div class="d-sm-inline mr-sm-3 d-block">
	    <span class="ml-1 h4 text-primary" th:text="${shop.name}"></span>
	  </div>
	  <div class="d-sm-inline d-block py-1 py-sm-0">
	    <a class="btn btn-sm btn-warning" th:href="${shop.webpage}" target="_blank">Go to the shop's website</a>
	  </div>
	</div>
  </div>
</div>
<!-- Bar-under-navigation-shop -->
	
</div>


