<div th:fragment="bargains-jumbotron">
	
<!-- Bargains-jumbotron -->	
<div th:if="${isEmptyListOfBargains}" class="text-light">	
    <div class="jumbotron pt-4 margin-jumbotron">
      <h3>Welcome</h3>
      <p class="lead">It's a demo project that allows you to share bargains, cheap deals, discounts and sales. </p>
      <hr class="my-4">
      <p>There are not any bargains now, you can load sample offers to test the application</p>
      <p class="lead ">
        <a class="btn btn-sm btn-success my-3 " th:href="@{/init-data}" title="loading some sample data (users, bargains, comments and votes)" role="button">Load sample data <span><i class="fas fa-upload"></i></span></a>
      </p>
      <div class="d-none d-sm-block ">
        <img src="https://i.postimg.cc/d1x8QVFJ/Brother-printer-dashboard.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="d-block d-sm-none">
        <img src="https://i.postimg.cc/dtW8NvVj/screenshot-smartphone.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div> 
  </div>
<!-- Bargains-jumbotron -->
	
</div>


  