<div th:fragment="bargains-jumbotron">
	
<!-- Bargains-jumbotron -->	
<div th:if="${isEmptyListOfBargains}" class="text-light">	
    <div class="jumbotron pt-4 margin-jumbotron">
      <h3>Welcome</h3>
      <p class="lead">It's a demo project that allows you to share bargains, cheap deals, discounts and sales. </p>
      <hr class="my-4">
      <p>There are not any bargains now, you can load sample offers to test the application</p>
      <p class="lead ">
        <a class="btn btn-sm btn-success my-3 " th:href="@{/init-data}" title="loading some sample data (users, bargains, comments and votes)" role="button">Load sample data <span><em class="fas fa-upload"></em></span></a>
      </p>
      <div class="d-none d-sm-block">
      
        <div id="carouselBargains" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselBargains" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselBargains" data-slide-to="1"></li>
		    <li data-target="#carouselBargains" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img class="d-block w-100" src="https://i.postimg.cc/3rbRb8PT/nokia-8-3-screenshot.png" alt="First slide">
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="https://i.postimg.cc/595gwrGL/acer-nitro-screenshoot.png" alt="Second slide">
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="https://i.postimg.cc/JzQCvKGk/Xiaomi-Mijia-screenshot.png" alt="Third slide">
		    </div>
		  </div>
		</div>
      
      </div>
      <div class="d-block d-sm-none">
        <img src="https://i.postimg.cc/PJCQ813x/brother-screenshot-xs.png" class="img-fluid" alt="Responsive image">
      </div>
    </div> 
  </div>
<!-- Bargains-jumbotron -->
	
</div>


  