<div th:fragment="pagination-activity(href)">
	
<!-- Pagination activity--> 
<div class="container pt-3" >	
  <div class="row justify-content-center">	
 	<div class="col-auto">
      <nav th:if="${activities.totalPages > 1}" aria-label="Page navigation">
		<ul class="pagination pagination-sm ">
		  <li class="page-item" th:classappend="${activities.number == 0} ? 'disabled'">
			<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${1})}">&laquo;</a>				    	
	      </li>	  
	      <li class="page-item" th:classappend="${activities.number == 0} ? 'disabled'">
			<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${activities.number})}">&lsaquo;</a>
		  </li>	
							    
	      <th:block th:if="${totalPages <= 7}">       					    
			<li class="page-item" th:classappend="${i == activities.number+1} ? 'active'" th:each="i: ${#numbers.sequence(1, activities.totalPages)}">
			  <a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${i})}" th:text="${i}"></a>
			</li>		
		  </th:block>
				    
		  <th:block th:if="${totalPages > 7}">	    	
			<th:block th:if="${currentPage <= 3}">				    		
			  <li class="page-item" th:classappend="${i == activities.number+1} ? 'active'" th:each="i: ${#numbers.sequence(1, 4)}">
				<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${i})}" th:text="${i}"></a>
		      </li>
		      <li class="page-item">	
				<a class="page-link" th:text="..."></a>
			  </li>
		      <li class="page-item">
				<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${activities.totalPages})}" th:text="${activities.totalPages}"></a>
			  </li>
		    </th:block>
				    		
			<th:block th:if="${currentPage > 3 && currentPage <= activities.totalPages - 3}">
			  <li class="page-item">	
				<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${i})}" th:text="${1}"></a>
		      </li>	
			  <li class="page-item">
				<a class="page-link" th:text="..."></a>
			  </li>
			  <li class="page-item" th:classappend="${i == activities.number+1} ? 'active'" th:each="i: ${#numbers.sequence(activities.number, activities.number+2)}">
				<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${i})}" th:text="${i}"></a>
			  </li>
			  <li class="page-item">			    			
				<a class="page-link" th:text="..."></a>
			  </li>
			  <li class="page-item">	
				<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${activities.totalPages})}" th:text="${activities.totalPages}"></a>
			  </li>
		    </th:block>	
			
			<th:block th:if="${currentPage > activities.totalPages - 3}">
			  <li class="page-item">
				<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${i})}" th:text="${1}"></a>	
			  </li>
			  <li class="page-item">
				<a class="page-link" th:text="..."></a>
			  </li>
			  <li class="page-item" th:classappend="${i == activities.number+1} ? 'active'" th:each="i: ${#numbers.sequence(activities.totalPages-3, activities.totalPages)}">
				<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${i})}" th:text="${i}"></a>
			  </li>
			</th:block>						    	
		  </th:block>	    	
						    	
		  <li class="page-item" th:classappend="${activities.number + 1 == activities.totalPages} ? 'disabled'">		    
			<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${activities.number+2})}">&rsaquo;</a>
		  </li>
		  <li class="page-item" th:classappend="${activities.number + 1 == activities.totalPages} ? 'disabled'">
			<a class="page-link" th:href="@{${href} (userId=${profileUser.id}, page=${activities.totalPages})}">&raquo;</a>
		  </li>
		</ul>
	  </nav>							
	</div>
  </div>
</div>									
<!-- Pagination activity-->
	
</div>

