<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
  <!-- Styles CSS -->
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

  <title>Welcome</title>
</head>
<body>


  <!-- Navigation simple -->
  <div th:replace="fragments/navigation-simple :: navigation-simple"></div>	

  <div class="login-singup">
    <div class="container ">
	  <div class="row d-flex justify-content-center">
  	    <div class="col-12 col-sm-10 col-lg-8">
    	  <div class="card text-center">
      		<div class="card-header text-primary h5">
       		  Welcome [[${nickname}]]
      		</div>
      		<div class="card-body">
        	  <p class="card-text">Thanks for joining Bargains, You can use this application now.</p>
        	  <a th:href="@{/login}" class="btn btn-primary">Click here to Login</a>
      		</div>
    	  </div>
  		</div>
	  </div>
    </div>
  </div>
	
  <!-- Footer -->	
  <div th:replace="fragments/footer :: footer"></div>
	
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>