<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/base :: baseHeader(~{::title},~{::link})">
  <title>[[${#strings.capitalize(#strings.toLowerCase(profileUser.nickname))}]] comments</title>
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
    
<body>
<div id="wrap">
  
  <!-- Navigation-nosearch-->  
  <div th:replace="fragments/navigation-nosearch :: navigation-nosearch"></div>

  <!-- Bar-under-navigation -->
  <div th:replace="fragments/bar-under-navigation :: bar-under-navigation"></div>

  <!-- Bar-tiny-under-navigation -->
  <div th:replace="fragments/bar-tiny-under-navigation :: bar-tiny-under-navigation(
				   viewLink='text-secondary', viewBadge='badge badge-secondary ml-1', 
				   bargainsLink='text-secondary', bargainsBadge='badge badge-secondary ml-1', 
				   commentsLink='text-secondary', commentsBadge='badge badge-secondary ml-1', 
				   votesLink='text-primary', votesBadge='badge badge-primary ml-1')"></div>
					
  <div id="main" class="container">

    <div th:replace="fragments/navigation-vote :: navigation-vote(
    				 allLink='text-primary', allBadge='badge badge-primary ml-1', 
    				 posLink='text-secondary', posBadge='badge badge-secondary ml-1',
    				 negLink='text-secondary', negBadge='badge badge-secondary ml-1')"></div>  

	<div class="row mb-2 mt-3">
	  <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch " th:each="vote: ${pageVotes}">
	    <div class="card px-3 pt-2 pb-3 mb-2" style="width: 25rem;">
	      <div class="row">
	        <div class="col-12">
	   		  <a th:href="@{/bargains/{bargainId} (bargainId=${vote.bargain.id})}"><span th:text="${vote.bargain.title}"></span></a>		  
	        </div>
	      </div>
		  <div class="row align-items-center mt-2">
		    <div class="col-2">
		      <a th:href="@{/bargains/{bargainId} (bargainId=${vote.bargain.id})}">				    					    	 
			    <img th:src="@{${'/bargains/' + vote.bargain.id + '/photo'}}" width="50" height="50" class="rounded border">
			  </a>
		    </div>
		    <div class="col-5 d-flex justify-content-start">
		      <div class="border rounded px-2 ml-2 ml-xl-0">
		        <span class="h6" th:text="${vote.bargain.voteCount}"></span><span class="h6">&#176;</span>
		  	    <button type="button" class="btn btn-sm btn-primary vote-btn-margin py-0 px-1 " th:if="${vote.voteType.equals(T(com.pch777.bargains.model.VoteType).DOWNVOTE)}"><i class="fas fa-minus"></i></button>
	            <button type="button" class="btn btn-sm btn-danger vote-btn-margin py-0 px-1" th:if="${vote.voteType.equals(T(com.pch777.bargains.model.VoteType).UPVOTE)}"><i class="fas fa-plus"></i></button>
		      </div>	  
	  	    </div>
	        <div class="col-4 flex justify-content-end">
	  	      <small class="text-muted" title="added" th:text="${T(com.pch777.bargains.service.BargainService).whenElementAdded(vote.createdAt)}" ></small>
	  	    </div>
	      </div> 
	    </div>
	  </div>
	</div> 	  
	
	<div class="row d-flex justify-content-center">
      <!-- Pagination vote -->	
  	  <div th:replace="fragments/pagination-vote :: pagination-vote(href=${'/users/' + #strings.toString(profileUser.id) + '/votes'})"></div>
	</div>
	
  </div>
</div>
	
  <!-- Footer -->	
  <div th:replace="fragments/footer :: footer"></div>
	
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Font awesome -->
  <script src="/webjars/font-awesome/5.14.0/js/all.js" type ="text/javascript"></script>
    
</body>
</html>